<!DOCTYPE html>
<head>
<title>Thermostat</title>
<style>

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    display: none;
}

input[type=number] {
    -moz-appearance:textfield;
}

.main_flex {
  display: flex;
}

</style>
</head>

<body onLoad="setTimeout(function() {location.reload();}, 60000);">
<div class="main_flex">
    <div>
    Status: {{ enabled }} <br>
    Current Temperature: {{ currentTemp }}&deg;F <br>
    Current Humidity: {{ currentHumidity }}&percnt; <br>
    Target Temperature: {{ targetTemp }}&deg;F <br>
    Current On Value: {{ status }}% <br>
    Yesterday's Runtime: {{ "%02dh:%02dm:%02ds" % runtimes[1] }} <br>
    Today's Runtime: {{ "%02dh:%02dm:%02ds" % runtimes[0] }} <br>

    <br>
    <form method="post">
        <input type="number" step="any" name="temp" value="{{ targetTemp }}">
        <input type="submit" name="edit_temp" value="Update"> <br>
        <input type="submit" name="decrease_temp" value="Decrease Temp" />
        <input type="submit" name="increase_temp" value="Increase Temp" />
        <br>
        <input type="submit" name="disable" value="Disable" />
        <input type="submit" name="enable" value="Enable" />
        <input type="submit" name="force_on" value="Force On" />
    </form>
    <br>
	PID Tunings: <br>
    <form method="post">
        <input type="number" step="any" name="Kp" value="{{ Kp }}">
        <input type="number" step="any" name="Ki" value="{{ Ki }}">
        <input type="number" step="any" name="Kd" value="{{ Kd }}">
        <input type="submit" name="edit_tunings" value="Update">
    </form>
</div>
<div>
    <table>
    <tr>
        <th>Times</th>
        {%- for day in dayNames -%}
        <th>{{ day }}</th>
        {%- endfor -%}
    </tr>
    {%- for row in scheduleRows -%}
    {%- set (time, time_id) = scheduleTimes[loop.index0] -%}
    <tr>
        <th>{{ time }}</th>
        {%- for temp in row -%}
        <td align="right">
        {%- if temp != None -%}
        {%- if temp != "Ignore" -%}
        <form method="post">{{ temp }}&deg;F <input type="submit" name="deleteTime{{ loop.index0 }}{{ time_id }}" value="X"></form>
        {%- else -%}
        <form method="post">Ignore <input type="submit" name="deleteTime{{ loop.index0 }}{{ time_id }}" value="X"></form>
        {%- endif -%}
        {%- else -%}
        {%- if row[0] != None -%}
        <form method="post"><input type="submit" name="ignoreTime{{ loop.index0 }}{{ time_id }}" value="Ignore"></form>
        {%- endif -%}
        {%- endif -%}
        </td>
        {%- endfor -%}
    </tr>
    {%- endfor -%}
    </table>
    <form method="post">
        <select name="schedule_day">
        {%- for day in dayNames -%}
            <option value="{{ loop.index0 }}">{{ day }}</option>
        {%- endfor -%}
        </select>
        <input type="time" name="schedule_time" min="00:00" max="23:59" value="00:00" required>
        <input type="number" step="any" name="schedule_temp" value="{{ targetTemp }}">
        <input type="submit" name="add_time" value="New Entry">
    </form>
</div>
</div>
</body>
</html>
