<!DOCTYPE html>
    <head>
        <title>Thermostat</title>
    </head>

    <body>
	Status: {{ enabled }} <br>
        Current Temperature: {{ currentTemp }} <br>
        Target Temperature: {{ targetTemp }} <br>
        State: {{ status }} <br>
	<br>
	<form method="post">
            <input type="text" name="temp" value="{{ targetTemp }}">
	    <input type="submit" name="edit_temp" value="Update"> <br>
            <input type="submit" name="decrease_temp" value="Decrease Temp" />
            <input type="submit" name="increase_temp" value="Increase Temp" />
            <br>
	    <input type="submit" name="disable" value="Disable" />
            <input type="submit" name="enable" value="Enable" />
            <input type="submit" name="force_on" value="Force On" />
        </form>
    </body>
</html>
