<!DOCTYPE html>
<head>
<script src="/static/main.bundle.min.js"></script>
<link rel="stylesheet" href="/static/main.bundle.min.css">
<title>Thermostat</title>
</head>
<body onLoad="initCharts({{ dataStartTime }})">
<div class="pagebox"><div class="mainflex">
    <div class="row">
        <div class="maininfobox">
            Status: {{ enabled }} <br>
            Current Temperature: {{ currentTemp }}&deg;F <br>
            Target Temperature: {{ targetTemp }}&deg;F <br>
            Current Humidity: {{ currentHumidity }}&percnt; <br>
            Current On Value: {{ status }}% <br>
            Today's Runtime: {{ todaysRuntime }} <br>

            <br>
            <form method="post">
                <input type="number" step="any" name="temp" value="{{ targetTemp }}">
                <input type="submit" name="edit_temp" value="Update">
                <br>
                <input type="submit" name="decrease_temp" value="Decrease Temp" />
                <input type="submit" name="increase_temp" value="Increase Temp" />
                <br>
                <input type="submit" name="disable" value="Disable" />
                <input type="submit" name="enable" value="Enable" />
                <input type="submit" name="force_on" value="Force On" />
            </form>
        </div>
        <div class="schedulebox">
            <table><tr><th>Times</th>
                {%- for day in dayNames -%}
                    <th>{{ day }}</th>
                {%- endfor -%}
            </tr>
                {%- for row in scheduleRows -%}
                    {%- set (time, time_id) = scheduleTimes[loop.index0] -%}
                    <tr><th>{{ time }}</th>
                    {%- for temp in row -%}
                        <td align="right">
                        {%- if temp != None -%}
                            {%- if temp != "Ignore" -%}
                                <form method="post">{{ temp }}&deg;F <input type="submit" name="deleteTime{{ loop.index0 }}{{ time_id }}" value="X"></form>
                            {%- else -%}
                              <form method="post">Ignore <input type="submit" name="deleteTime{{ loop.index0 }}{{ time_id }}" value="X"></form>
                            {%- endif -%}
                        {%- else -%}
                            {%- if row[0] != None -%}
                                <form method="post"><input type="submit" name="ignoreTime{{ loop.index0 }}{{ time_id }}" value="Ignore"></form>
                            {%- endif -%}
                        {%- endif -%}
                        </td>
                    {%- endfor -%}
                    </tr>
                {%- endfor -%}
            </table>
            <form method="post">
                <select name="schedule_day">
                {%- for day in dayNames -%}
                    <option value="{{ loop.index0 }}">{{ day }}</option>
                {%- endfor -%}
                </select>
                <input type="time" name="schedule_time" min="00:00" max="23:59" value="00:00" required>
                <input type="number" step="any" name="schedule_temp" value="{{ targetTemp }}">
                <input type="submit" name="add_time" value="New Entry">
            </form>
        </div>
    </div>
    <div class="pidbox">
        PID Tunings: <br>
        <form method="post">
            <input type="number" step="any" name="Kp" value="{{ Kp }}">
            <input type="number" step="any" name="Ki" value="{{ Ki }}">
            <input type="number" step="any" name="Kd" value="{{ Kd }}">
            <input type="submit" name="edit_tunings" value="Update">
        </form>
    </div>
    <canvas id="weeklyChart"></canvas>
    <div class="graphRow">
        <div style="width:50%"><canvas id="usageHistoryChart"></canvas></div>
        <div style="width:50%"><canvas id="activityChart"></canvas></div>
    </div>
    </div>
</div></div>
</body>
</html>
